<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Catch'it{% endblock %}</title>
    {% block stylesheets %}
    {# {{ encore_entry_link_tags('app') }} #}       {# Unknown "encore_entry_link_tags" function ... #}
    <link rel="stylesheet" href="/build/app.css">
    {% endblock %}

    {% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}     {# Unknown "encore_entry_link_tags" function ... #}
    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script>
    {% endblock %}
</head>

<body>
    {% include "partials/_navbar.html.twig" %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</body>

</html>