{% extends 'base.html.twig' %}

{% block body %}
<div class="cont">
    <h1>Page introuvable</h1>
    <p>
        Vous semblez perdu. N'hésitez pas à retourner à la <a href="{{ path('home') }}">page d'accueil</a>.
    </p>
</div>
{% endblock %}